.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-table-row {
    display: table-row;
    height: 100%;
    width: 100%;
}
.display-table-cell {
    display: table-cell;
    height: 100%;
}
